$OffCanvasLeftSize: 260px !default;

.OffCanvas{
  overflow-x: hidden;
  height: 100vh;
  position: relative;
}

.OffCanvas-front {
  z-index: 1;
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  min-height: 100%;
  transition: left 0.4s;
  overflow-y: scroll; /* has to be scroll, not auto */
  -webkit-overflow-scrolling: touch;
}

.OffCanvas-back{
  width: $OffCanvasLeftSize;
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
}

.OffCanvas--close{
  .Offcanvas-front {
    left: 0;
  }
}

.BottomRegion{
  position: fixed;
  z-index: 200;
  bottom: 0;
  left: 0;
  right: 0;
  height: 0;
  transition: all 0.4s;
}

.OffCanvas--open{
  .OffCanvas-front {
    left: $OffCanvasLeftSize;
  }
  .BottomRegion{
    left: $OffCanvasLeftSize;
  }
}


