.OffCanvas{
  overflow-x: hidden;
  height: 100vh;
  position: relative;
}

.OffCanvas-content{
  z-index: 1;
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  min-height: 100%;
  transition: left 0.3s;
  overflow-y: scroll; /* has to be scroll, not auto */
  -webkit-overflow-scrolling: touch;
}

.OffCanvas--close{
  .OffCanvas-content{
    left: 0;
  }
}

.OffCanvas--open{
  .OffCanvas-content{
    left: 80%;
  }
}

.OffCanvas-menu{
  width: 80%;
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
}

